cffi @ file:///D:/bld/cffi_1671179506518/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
mkl-service==2.4.0
numpy @ file:///D:/bld/numpy_1672415919335/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyYAML @ file:///D:/bld/pyyaml_1666772550103/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
torch==1.12.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
